
*.log
*.patch

build
out
target

*.ipr
*.iws
*.iml
*.ids
.gradle
.DS_STORE
catalina.base_IS_UNDEFINED
.java-version
*.user
*.pubxml
*.suo
*.csproj.*
*.dll
*.cache
*.pdb

node_modules/
package-lock.json

bin
obj
.idea/
.java-version
